[submodule "themes/arberia"]
	path = themes/arberia
	url = https://github.com/antedoro/arberia.git
[submodule "themes/lowkey"]
	path = themes/lowkey
	url = https://github.com/nixentric/Lowkey-Hugo-Theme.git
