<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<link rel="shortcut icon" href="/rctv.ico" />
<link rel="icon" href="/img/rctv-logo.svg" type="image/svg+xml" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }}{{ end }}</title>
<metas
  name="description"
  content="{{ if .IsPage }}{{ or .Params.description .Summary }}{{ else if .IsHome }}{{ .Site.Params.description }}{{ else if .IsNode }}{{ or .Params.description .Summary }}{{ end }}"
/>
<!-- Open Graph -->
<meta property="og:title" content="{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }}{{ end }}" />
<meta property="og:description" content="{{ if .IsPage }}{{ or .Params.description .Summary }}{{ else if .IsHome }}{{ .Site.Params.description }}{{ else if .IsNode }}{{ or .Params.description .Summary }}{{ end }}" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:site_name" content="{{ .Site.Title }}" />
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}" />
{{ with .Params.image }}<meta property="og:image" content="{{ . | absURL }}" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />{{ else }}<meta property="og:image" content="{{ "img/robot.png" | absURL }}" />{{ end }}
{{ if .IsPage }}<meta property="article:published_time" content="{{ .PublishDate.Format "2006-01-02T15:04:05Z07:00" }}" />
{{ with .Params.categories }}{{ range . }}<meta property="article:section" content="{{ . }}" />
{{ end }}{{ end }}{{ end }}
<!-- Twitter Card -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }}{{ end }}" />
<meta name="twitter:description" content="{{ if .IsPage }}{{ or .Params.description .Summary }}{{ else if .IsHome }}{{ .Site.Params.description }}{{ else if .IsNode }}{{ or .Params.description .Summary }}{{ end }}" />
{{ with .Params.image }}<meta name="twitter:image" content="{{ . | absURL }}" />{{ else }}<meta name="twitter:image" content="{{ "img/robot.png" | absURL }}" />{{ end }}
<!-- callouts css -->
{{ range .Site.Params.calloutCSS -}}
<link rel="stylesheet" href="{{ . | absURL }}" />
{{- end }}
<link rel="canonical" href="{{ .Permalink }}" />
<link rel="robots" href="/robots.txt" />
{{ template "_internal/google_analytics.html" . }}